.page-level1{
    font-size: 15px;
}

.enregistrerButton {
    border: none;
    outline: none;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 8px;
    padding: 9px;
}

.shown-message-success {
    background-color: var(--primary-color);
    color: white;
    padding: 8px;
}

.shown-message-failure {
    background-color: red;
    color: white;
    padding: 8px;
}

.hidden-message {
    visibility: hidden;
}

.taux {
    padding: 10px;
}

.confirmation-message {
    padding: 10px;
   
}

