.conts {
    grid-template-columns: auto 30%;
    background-color: var(--primary-color-light);
}
.graph_credits {
    padding: 12px;
   
}

.graph {
    
    background-color: white;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

.graph-content {
    width: 600px;
  
    
}

/* .total-saved {
    background-color: red;
}

.graph_credits {
    background-color: blue;
} */

.recents {
    gap: 30px ;
}
.credits , .saves  {
    background-color: white;
    padding: 12px;
    width: 90%;
    border-radius: 9px;
    margin-top: 10px;

}

.credits .title , .saves .title {
    gap:  10px;

}
.saves img  {
    height: 24px;
    width: 24px;
}

.total-saved {
    padding: 13px;
    background-color: white;
    border-radius: 5px;
}

.title-cont {
    
    font-weight: bolder;
}

.section-content {
    padding: 20px;
}

.saved .amount {
    font-size: 30px;
    
}

.element {
    background-color: var(--primary-color-light);
    padding: 10px;
    margin-top: 10px;
}
.saved {
    background-color: rgb(200, 87, 65);
    color: white;
}

