table {
 
    width: 100%;
    background-color: var(--body-color);
}

thead {
    background-color: var(--body-color);
    color: var(--text-color);
    border-collapse: collapse;
}

thead th {
    padding: 5px;
}
tr td {
    text-align: center;
    padding: 12px;
}
.deleteMem {
    outline: none;
    border: none;
    background-color: var(--secondary-color);
    color: white;
    padding: 8px;

}