.add-member-popup {
    background-color: rgba(165, 173, 211, 0.8);
    width: 80%;
    position: absolute;
    left: 100px;
    opacity: 1;

    transition: opacity 0.3s ease-in-out ;
   
}

.add-member-popup .popup-header {
    justify-content: space-between;
    padding: 8px;
}

.inactive_popup {
    visibility: hidden;
    opacity: 0;
}

.close-popup{
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    
    color: var(--secondary-color);
    justify-content: center;
    align-content: center;
    align-content: center;
    text-align: center;
}


td .ajouterMembre  {
    border: none;
    outline: none;
    background-color: var(--secondary-color);
    color: white;
    padding: 10px;
    
}