/* Font | Google Popins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,600;1,700&display=swap');



:root {
    /* colors */
    --body-color:#E4E9F7;
    --side-bar-color:#FFF;
    --primary-color:rgb(145, 68, 217);
    --secondary-color :rgb(200, 87, 65);
    --primary-color-light:#F6F5FF;
    --text-color:#707070;
    --boxshadow:rgba(31, 32, 34, 0.3) 0px 1px 2px 0px ,
    rgba(48, 49, 50, 0.15) 0px 1px 13px 1px;
    
    
}
a{
    text-decoration: none;
    /* color: var(--primary-color); */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.grid{
    /* grid */
    display: grid;
}

.flex {
    /* flex */
    display: flex;
}

.block {
    /* block */
    display: block;
}

.title-page {
    padding-top: 20px;
   padding-left:30px;
}

body {
    background-color: var(--body-color) ;
}

.page_content {
    gap: 10px;
}


.logo {
    margin-top: 20px;
}

.conts {
    margin-top: 5px;
    position: absolute;
    top: 60px;
    left: 155px;
    height: 88vh;
    background-color: white;
    width: 87%;
    padding: 12px;
}
.action .new-member, .epargnes{
    width: 200px;
}

.action {
    gap: 20px;
}
.action button, .epargnes button , .rembourser button {
    outline: none;
    border: none;
    background-color: var(--secondary-color);
    color: white;
    padding: 10px;
    width: 150px;
    transition: all 0.3s ease-in-out;
}

button i{
    padding: 5px;
    font-size: larger
}

.action button:hover, .epargnes button:hover , .rembourser button:hover {
  
    background-color: var(--primary-color);
    color: white;
   
}