.title-bar {
    background-color: white;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 60px;
    position: fixed;
    left: 155px;
}
.title-app {
    justify-content: center;
}

.settings {
    justify-content: space-between;
    gap: 20px;
}

.profile-section{
    gap: 10px;
    background-color: var(--primary-color-light);
    padding: 5px;
}

.profile-pic {
    font-size: 20px;
}

.name-pic {
    gap: 10px;
   
}